<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>GDPR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/pdf/gdpr.css" th:href="@{classpath:static/css/pdf/gdpr.css}" />
  </head>

  <body>
  	
  	<div class="content" th:fragment="gdpr">
	  	<div style="height: 50px">
	  		<img class="logo" alt="" src="../static/img/logo.png" th:src="@{classpath:static/img/logo.png}"/>
	  	</div>

    	<h5 class="gdpr-header" style="text-align: center;">INFORMACIJA APIE ASMENS DUOMENŲ TVARKYMĄ</h5>
		<p>
			UAB „Music Admin“, juridinio asmens kodas: 303283994, buveinės adresas: Vilniaus g. 12, Baltoji Vokė, 17234 Šalčininkų raj., el. p. El. paštas info@m-admin.lt, Tel. +370 649 33377 (toliau – Bendrovė), įgyvendindami su asmens duomenų tvarkymu susijusius reikalavimus, nustatytus 2016 m. balandžio 27 d. Europos Parlamento ir Tarybos reglamento (ES) 2016/679 dėl fizinių asmenų apsaugos tvarkant asmens duomenis ir dėl laisvo tokių duomenų judėjimo ir kuriuo panaikinama Direktyva 95/46/EB (Bendrasis duomenų apsaugos reglamentas) (toliau – BDAR) 13 straipsnyje, informuojame apie asmens duomenų tvarkymą.
		</p>
		<ol class="subtitle">
			<li>
				<span class="bold">Bendrovė asmens duomenis tvarko šiais tikslais:</span>
				<ul>
					<li>
						<span>paslaugų teikimo sutarties sudarymo ir vykdymo tikslais;</span>
					</li>
					<li>
						<span>atsiskaitymo ir kitų mokėjimų įforminimo ir apskaitos taisyklių laikymosi tikslais;</span>
					</li>
					<li>
						<span>tiesioginės rinkodaros tikslais.</span>
					</li>
				</ul>
			</li>
			<li>
				<span class="bold">Bendrovė asmens duomenis tvarko esant vienam iš teisėto tvarkymo pagrindų:</span>
				<ul>
					<li>
						<span>siekiant įvykdyti sutartį, kurios šalis yra duomenų subjektas, arba siekiant imtis veiksmų duomenų subjekto prašymu prieš sudarant sutartį (BDAR 6 straipsnio 1 dalies b punktas), t. y. kai sudaroma sutartis su paslaugų gavėju;</span>
					</li>
					<li>
						<span>siekiant įvykdyti Bendrovei taikomą teisinę prievolę (BDAR 6 straipsnio 1 dalies c punktas bei BDAR 9 straipsnio 2 dalies b punktas), pvz. išrašant ar saugant sąskaitas ir kitus apskaitos dokumentus, atsakant į prašymus/pretenzijas, taip pat tvarkant specialiųjų kategorijų ugdytinio asmens duomenis (sveikatos duomenis) ir kt.;</span>
					</li>
					<li>
						<span>tais atvejais, kai asmens duomenų tvarkymui reikalingas Jūsų sutikimas (pvz., tiesioginės rinkodaros tikslais), asmens duomenys yra tvarkomi pagal duotą sutikimą tvarkyti asmens duomenis (BDAR 6 straipsnio 1 dalies a punktas). Jūs turite teisę bet kuriuo metu atšaukti šį duotą sutikimą, tačiau sutikimo atšaukimas nedaro poveikio sutikimu pagrįsto duomenų tvarkymo, atlikto iki sutikimo atšaukimo, teisėtumui. Jūs turite teisę bet kuriuo metu atšaukti duotą sutikimą parašius el. paštu info@music-admin.lt.</span>
					</li>
				</ul>
				<p>
					Informuojame, kad asmens duomenų, kurių pateikimas Bendrovei yra reikalingas sutarties sudarymui ir (ar) įvykdymui, nepateikimas lemia negalėjimą suteikti paslaugas.
				</p>
			</li>
			<li>
				<span class="bold">Asmens duomenų gavėjai. </span>Jūsų asmens duomenys gali būti perduodami mokytojams ar kitiems Bendrovės darbuotojams (paslaugų suteikimo tikslais), teismams, skolų išieškojimo įmonėms, antstoliams, konsultacijas teikiančioms įmonėms, auditoriams, Bendrovės duomenų tvarkytojams (pvz., įmonėms, teikiančioms serverių nuomos, duomenų saugojimo, svetainės administravimo, IT ūkio priežiūros ir (ar) susijusias paslaugas) ir kt. Duomenų tvarkytojai asmens duomenis tvarko tik pagal Bendrovės nurodymus ir teisės aktų reikalavimus. Asmens duomenys nėra perduodami į trečiąją valstybę arba tarptautinei organizacijai.
			</li>
			<li>
				<span class="bold">Asmens duomenų saugojimo terminas. </span>Asmens duomenys saugomi:
				<ul>
					<li>
						<span>sudaryta Paslaugų teikimo sutartis (nuo jos pasibaigimo) ir apskaitos dokumentai (sąskaitos faktūros, mokėjimo pavedimai, avanso apyskaitos, kasos pajamų ir išlaidų orderiai ir kita) saugomi 10 metų (vadovaujantis Bendrųjų dokumentų saugojimo terminų rodykle, patvirtinta 2011-03-09 Lietuvos vyriausiojo archyvaro įsakymu Nr. V-100);</span>
					</li>
					<li>
						<span>sutikimas dėl tiesioginės rinkodaros – 5 (penkis) metus nuo jo davimo dienos arba iki sutikimo atšaukimo dienos;</span>
					</li>
					<li>
						<span>kai asmens duomenų saugojimo terminas nenustatytas teisės aktuose – duomenys saugomi 3 (tris) metus nuo paslaugų suteikimo dienos.</span>
					</li>
				</ul>
			</li>
			<li>
				<span class="bold">Jūs turite šias teises, susijusias su asmens duomenų tvarkymu:</span>
				<ul>
					<li>
						<span>teisę susipažinti su savo asmens duomenimis, įskaitant teisę į asmens duomenų kopiją;</span>
					</li>
					<li>
						<span>teisę reikalauti ištaisyti savo asmens duomenis, jeigu jie yra netikslūs;</span>
					</li>
					<li>
						<span>teisę reikalauti ištrinti savo asmens duomenis („teisė būti pamirštam“);</span>
					</li>
					<li>
						<span>teisę reikalauti apriboti savo asmens duomenų tvarkymą;</span>
					</li>
					<li>
						<span>teisę į duomenų perkeliamumą;</span>
					</li>
					<li>
						<span>teisę nesutikti su asmens duomenų tvarkymu (kai duomenys tvarkomi teisėto intereso pagrindu);</span>
					</li>
					<li>
						<span>teisę bet kuriuo metu atšaukti duotą sutikimą tvarkyti asmens duomenis (pvz., tiesioginės rinkodaros tikslu), jeigu toks sutikimas buvo duotas.</span>
					</li>
				</ul>
				<p><br/></p>
				<p>
					Jūs taip pat turite teisę pateikti skundą priežiūros institucijai – Valstybinei duomenų apsaugos inspekcijai (daugiau informacijos www.ada.lt), jeigu mano, kad Bendrovė netinkamai tvarko asmens duomenis.
				</p>
				<p>
					Jūsų teisės įgyvendinamos pateikiant asmens tapatybę patvirtinantį dokumentą (jeigu prašymas teikiamas tiesiogiai atvykus į biurą) arba asmens tapatybę patvirtinus elektroninių ryšių priemonėmis, kurios leidžia tinkamai Jus identifikuoti (jeigu prašymas pateikiamas el. būdu). Visi pranešimai pateikiami Bendrovei el. paštu info@music-admin.lt arba adresu Vilniaus g. 12, Baltoji Vokė, 17234 Šalčininkų raj.
				</p>
				<p>
					Ši Informacija apie asmens duomenų tvarkymą yra neatsiejama sudarytos Paslaugų teikimo sutarties dalis.
				</p>
			</li>
		</ol>

	</div>
  
  </body>

</html>